header h1 {
    background-color: #a0d995;
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

nav {
    text-align: center;
    border-radius: 1.5%;
    background-color: #a3ffac;
    height: 10%;
    color: #000;
    float: left;
    height: 600px;
    width: 10%;
}
nav ul {
 font-size: 20px;
}

nav ul li a:hover {
    color: #000;
    font-size: 21px;
    display: block;
}

section {
    display: flex;
}

article {
    max-width: 75%;
    height: 75%;
    height: 600px;
    background-color: rgb(242, 245, 240);
    margin-right: 1.5%;
    margin-left: 1.5%;
}

article p {
    font-size: 20px;
}

aside {
    justify-content: flex-end;
    background-color: #b0f2c2;
    height: 600px;
    float: right;
    width: 25%;
}

footer {
    background-color: #8cfca4;
    text-align: center;
    margin-top: 10px;
}

section aside {
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: flex-end;
}