header h1 {
    background-color: rgb(253, 189, 93);
    justify-content: center;
    color: aliceblue;
    text-align: center;
}

nav {
    border-radius: 1.5%;
    background-color: rgb(152, 223, 207);
    height: 10%;
    float: left;
    height: 600px;
    width: 10%;
}

article {
    max-width: 75%;
    height: 75%;
    height: 600px;
    background-color: rgb(130, 203, 236);
    margin-right: 26%;
    margin-left: 11%;
}

article p {
    font-size: 20px;
}

aside {
    justify-content: flex-end;
    background-color: cyan;
    height: 600px;
    float: right;
    width: 25%;
}

footer {
    background-color: coral;
    text-align: center;
    margin-top: 10px;
}

section aside{
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: flex-end;
}